# Ignore virtual environment files
venv/
env/

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore byte-compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs
logs/
*.log

# Ignore cache files
__pycache__/

# Ignore Flask files
instance/
.flaskenv

# Ignore pip files
pip-wheel-metadata/
*.egg-info/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore miscellaneous files
*.tmp
*.bak
*.swp